<nav class="menu">
  <p class="menu-label">
    General
  </p>
  <ul class="menu-list">
    <li>
      <a title="Dashboard"><mat-icon>dashboard</mat-icon> Dashboard</a>
    </li>
  </ul>
  <p class="menu-label">
    Count
  </p>
  <ul class="menu-list">
    <li>
      <a title="Notes"><mat-icon>note</mat-icon> Notes</a>
    </li>
    <li>
      <a title="Members"><mat-icon>supervisor_account</mat-icon> Members</a>
    </li>
  </ul>
  <p class="menu-label">
    Me
  </p>
  <ul class="menu-list">
    <li>
      <a  title="My Informations"><mat-icon>account_circle</mat-icon> Informations</a>
    </li>
  </ul>
</nav>
