<div class="container">
  <section class="hero is-primary is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          {{user.pseudo}}
        </h1>
        <h2 class="subtitle">
          {{user.firstName + ' ' + user.lastName}}
        </h2>
      </div>
    </div>
  </section>
  <br />
  
  <div class="tile is-ancestor box">
    <div class="tile is-vertical is-7 is-parent">

      <div class="tile is-child">
        <div class="tile is-child box">
          <div class="level has-text-centered">
            <br />
            <p class="level-item is-size-5">
              <strong>
                <mat-icon>alternate_email</mat-icon>
              </strong>
            </p>
            <p class="level-item is-size-5">
              {{user.email}}
            </p>
          </div>
        </div>
      </div>
      <div class="tile is-child">
        <div class="tile is-child box">
          <p class="is-size-5">
            <strong>Statistics</strong>
          </p>
          <p class="text">{{note.comment}}</p>
        </div>
      </div>
    </div>
    <div class="tile is-5 is-parent">
      <div class="tile is-child box">
        <figure class="image">
          <img src="/api/./public/example_avatar.jpeg">
        </figure>
      </div>
    </div>
  </div>
</div>
