<app-navbar></app-navbar>

<mat-card-content>
  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="push">
      <app-menu (click)="sidenav.toggle()"></app-menu>
    </mat-sidenav>

    <section class="section">
      <div class="columns">
        <div class="column is-1" id="toggle-button">
          <button type="button" class="button is-secondary" (click)="sidenav.open()">
            <mat-icon>arrow_right</mat-icon>
          </button>
        </div>
        <div class="column" id="content">
          <app-content></app-content>
        </div>
      </div>
    </section>

  </mat-sidenav-container>
</mat-card-content>
